<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section style="width:500px; margin:0 auto; background-color:#f8f8f8;
border-radius:10px; border-color:1px solid #f4f4f4; padding:1em;
box-shadow:1px 1px 3px rgba(0,0,0,.3);">
<h1>Yelp Clone</h1>
<%= yield %>

</section>
</body>
</html>
